<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GuSS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GuSS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <GuSS.Properties.Settings>
            <setting name="ZipCode" serializeAs="String">
                <value>01040</value>
            </setting>
            <setting name="Users" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Josh</string>
                        <string>Gavin</string>
                        <string>Nicole</string>
                        <string>Amelia</string>
                        <string>Brynn</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ShoppingList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>""</string>
                    </ArrayOfString>
                </value>
            </setting>
        </GuSS.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <GuSS.Properties.Settings>
            <setting name="log" serializeAs="String">
                <value>running.log</value>
            </setting>
        </GuSS.Properties.Settings>
    </applicationSettings>
</configuration>
